*{
  margin:0px;
  padding:0;
}
ul{
  width:auto;
}
p{
  font-size:12px;
}
li.slide{
  list-style-type: none;
  position: static;
  float:left;
  overflow: hidden;
  height:auto;
  max-height:400px;
}
li.slide img{ 
  padding:0;
  margin:0;
  display: block;
}
.colorWhite{
  color:#ccc;
  width:100%;
  text-align: center;
  font-size:10px;
  margin:10px 0;
}
.textOver{
  text-align: center;
  background-color: white;
  position: absolute;
  z-index: 100;
  height:400px;

}
.textSetting{
  position: absolute;
  top:100px;
  text-align:left;
  font-size:12px;
}
.firstText{
  opacity:1;
  top:50px;
}
.nextText{
  opacity:0;
}
h1{
  margin:0px;
   font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

h2.subtitle{
  color:#fff;
  font-size:15px;
}
h3{
  color:#000;
  font-size:20px;
  margin:0 0 5px 0;
  padding:0 0 5px 0;
  border-bottom:1px solid #ccc;
}
h4{
  margin:10px 0;
}
html{
  width:100%;
}
body{
  position:relative;
  height:auto;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  }
#header{
  background: rgba(255, 212, 100, 1);
  position: relative;
  
}  

#menuAreaWrapper{
  width:100%;
  height:50px;
  background-color: #fff;
  position: absolute;
box-shadow:0px 0px 2px 1px #eee;
-moz-box-shadow:0px 0px 2px 1px #eee;
-webkit-box-shadow:0px 0px 2px 1px #eee;

}
.contentsHolder,.sliderHolder{
  width:100%;
  height:auto;
}
.contentsHolder{
  padding:40px 0;
}
#recentWork{
  margin:0px auto;
  position: relative;
background-color: #fff;
}

p.small{
  width:50%;
  font-size:10px;
  color:#fff;
}
#mainSlide{
  position:relative;
  left:0;
  height:auto;

}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

p.next,p.back
{
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 212, 100, 1);
  display:block;
  position:absolute;
  z-index:500;
  cursor: pointer;
  font-weight: bold;
}
p.next:hover,p.back:hover
{
  background:#eee;
}
#loader-bg {
  position: fixed;
  width:100%;
  height:100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index:9999;
}
#wrap{
  width:100%;
  overflow: hidden;
}
.innerContent{
 
  margin:0 auto;
  padding:20px 0 0 0;
}
.oneThird{
  width:28.3%;
  float:left;
}
.oneFourth{
  width:20%;
  float:left;
}
#footerWrapper{
  width:100%;
  height: 300px;
  background: rgba(255, 212, 100, 1);
}
.oneThird, .oneFourth{
  padding:2.5%;
}
#innerMenuArea
{
 margin:0 auto;
 position: relative;
}
#globalNavi li{
  float: left;
  line-height: 50px;
  margin-right:20px;
  font-size:15px;
}
p.catchyImg,p.catchyImg-work{
  width:100%;
  height:auto;
  background-color: #fff;
}
.catchyImg-work img{
  width:100%;
}
span.language{
  display: inline-block;
  background-color: #ccc;
  font-size:10px;
  padding:2px;
  margin:2px;
  line-height: 13px;
}
.languageWrapper{
  margin:2px 0;
}
.createdDate{
  font-size:12px;
}
.postDetail{
  margin:10px 0;
}

/*color schemes*/
.yellow{
  background: rgba(255, 212, 100, 1) !important;
}
.blue{
  background:#39CCCC !important;
}
.green{
  background:#3D9970 !important;
}
.red{
  background:#FF4136 !important;
}
.yellow,.blue,.green,.red
{
  color:white;
}
.bgc-gray{
  background-color:#353230;
}
.bgc-gray h4,.bgc-gray h3
{
  color:white;
}
.bgc-gray p
{
  color:#9E978E;
}
.bgc-white{
  background-color: #fff;
}

/*Resposive settings*/
@media screen and (max-width: 617px) {
.textOver{
  position:relative;
  height:95px;
  z-index: 0;
  display: none;
}
.textSetting{
  text-align: left; 
}
p.next,p.back
{
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  }
.oneThird,.oneSecond{
  width:95%;
}  
.oneFourth{
  width:45%;
}
.oneThird{
  float:none;
}

#globalNavi li{
width:20%;
margin:0 2.5%;
font-size:12px;

text-align: center;
}  
}